@import "tailwindcss";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --background: #ffffff;
  --background2: #f7f7f7;
  --foreground: #333333;
  --txt: #171717;
  --primary: #ef4444;
  --secondary: #3b82f6;
  --title1: #d1b7a1;
  --countBox: #f9f9f9;
  --countTxt: #9b7f75;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--foreground);
  color: var(--foreground);
  font-family: var(--font-noto-serif-kr), sans-serif;
}

.font-noto {
  font-family: var(--font-noto-serif-kr), serif;
}
.font-parisienne {
  font-family: var(--font-parisienne), cursive;
}
.font-nanum-pen {
  font-family: var(--font-nanum-pen), serif;
}
